$cor-fundos: #353535;
$box-div: #D9D9D9;
$main-color: #284B63;
$Main-text: #3C6E71;

body {
    background-color: $cor-fundos;
    color: white;
}

header {
    background-color: #3C6E71;
    border-radius: 4px;
    width: 100vw;
}

header > nav > a {
    text-decoration: none;
    color: white;
}

header > h1 > a {
    text-decoration: none;
    color: white;
}